In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline
import seaborn as sns

In [2]:
all_data = pd.read_csv("all_test_model_results.csv")
all_data.shape

(983010, 5)

In [7]:
all_data.head(10)

   star_yyyy  YEAR                 COL       MAE      RMSE
0       2004  2021         ['Lag_shr']  0.244951  0.351019
1       2004  2020         ['Lag_shr']  0.239678  0.335815
2       2004  2021         ['Lag_she']  0.245144  0.351193
3       2004  2020         ['Lag_she']  0.239695  0.335788
4       2004  2021        ['Lag_mshe']  0.244855  0.350937
5       2004  2020        ['Lag_mshe']  0.239521  0.335701
6       2004  2021    ['Lag_Tobins_Q']  0.248147  0.368114
7       2004  2020    ['Lag_Tobins_Q']  0.249211  0.358149
8       2004  2021  ['Lag_Tobins_Q_A']  0.248224  0.368244
9       2004  2020  ['Lag_Tobins_Q_A']  0.249193  0.358100

In [8]:
all_data["COL"][0]

"['Lag_shr']"

In [13]:
def y(_in):
    return _in[1:-1]

In [14]:
a = "[k,o,l]"
a

'[k,o,l]'

In [15]:
y(a)

'k,o,l'

In [16]:
all_data["COL"] = all_data["COL"].apply(y)

In [17]:
all_data.head(10)

   star_yyyy  YEAR               COL       MAE      RMSE
0       2004  2021         'Lag_shr'  0.244951  0.351019
1       2004  2020         'Lag_shr'  0.239678  0.335815
2       2004  2021         'Lag_she'  0.245144  0.351193
3       2004  2020         'Lag_she'  0.239695  0.335788
4       2004  2021        'Lag_mshe'  0.244855  0.350937
5       2004  2020        'Lag_mshe'  0.239521  0.335701
6       2004  2021    'Lag_Tobins_Q'  0.248147  0.368114
7       2004  2020    'Lag_Tobins_Q'  0.249211  0.358149
8       2004  2021  'Lag_Tobins_Q_A'  0.248224  0.368244
9       2004  2020  'Lag_Tobins_Q_A'  0.249193  0.358100

In [19]:
all_data.to_csv("all_test_model_results_2.csv")